/******************************* RESET ********************************/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* END OF RESET */

/***************************** GENERAL RULES ***************************/

body {
  font-family: "Montserrat", sans-serif;
  color: #32495b;
}

body p {
  color: #32495b;
  font-size: 14px;
  line-height: 1.7;
}

body a {
  text-decoration: none;
  color: inherit;
}

body li {
  list-style-type: none;
}


.container {
  width: 1280px;
  margin: auto;
}
.float {
  float: left;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.btn {
  color: #ffffff;
  background-color: #fe775a;
  padding: 16px 10px;
  border-radius: 5px;
  display: inline-block;
}
.fa-check-circle{
  color: #fe775a;
}
.shadow {
  box-shadow: 1px 1px 5px 1px lightgrey;
}


/**************************** END OF GENERAL RULES **************************/

/****************************** HEADER SECTION *******************************/
/* MENU */

header .menu {
  background: #f4f9fd;
  padding: 1% 0%;
  border-bottom: 1px solid #32495b;
  height: 2%;
}

/* Left Menu */
header .left-menu {
  width: 30%;
  padding: 1.3% 0%;
}

header .left-menu .contact {
  display: inline-block;
  margin-left: 3%;
  padding: 0% 3%;
  border-left: 1px solid #899397;
}
/* End of Left Menu */

/* Right Menu */
header .right-menu{
  width: 70%;
  text-align: right;

}

header .right-menu >*{
  margin: 2% 1.5%;
}

header .right-menu :last-child{
  margin-right: 0%;
}

header .right-menu .fa-search {
  color: #00a4bd;
}

header .right-menu .log {
  color: #fe775a;
  border: 1px solid #fe775a;
  padding: 1% 1%;
  border-radius: 3px;
}
/* End of Right Menu */
/* End of MENU */

/* NAVIGATION */

header nav .logo{
  width: 20%;
  text-align: left;
  height: 100px;
  line-height: 100px;

}

header nav .logo img {
  vertical-align: middle;
}

header nav .nav-list {
  height: 100px;
  width: 80%;
  text-align: right;
  margin: auto;
}
header nav .nav-list li {
  display: inline-block;
  line-height: 100px;
}
header nav .nav-list ul>*{
  margin: 0% 1%;
}
header nav .nav-list ul :last-child {
  margin-right: 0;
}
/* END OF NAVIGATION */

/* TEASER  and HORIZONTAL ROW*/

header .teaser-wrapper{
  padding-top: 3%;
  height: 600px;
  width: 100%;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-position:100%;
  background-size: 100% 100%;
}

header .teaser-wrapper .container {
}

header .teaser-wrapper .container>* {
  width: 35%;
  margin: 2%;
}

header .teaser-wrapper h1 {
  letter-spacing: 5px;
  padding-top: 3%;
}

header .teaser-wrapper p {
  padding: 1% 0%;

}

header .teaser-wrapper .btn {
  display: inline;
}

header .teaser-wrapper .text-small {
  font-size: 10px;
}


header .teaser-wrapper .row {
  background-color: #afebe4;
  border-top: 2px solid #33475b;
  border-bottom: 2px solid #33475b;
  height: 80px;
  margin-top: 87px;

}
/* END OF TEASER and HORIZONTAL ROW*/
/************************ END OF HEADER SECTION *****************************/

/********************************* MAIN SECTION ******************************/
/* HUB */
main {
  background-color: #f4f9fd;
}

main #hub {
  background-color: #f4f9fd;
}
main #hub h4 {
  text-transform: uppercase;
}

/* Slogan */

main #hub .container .slogan{
  width: 65%;
  margin: auto;
  text-align: center;
  padding: 5% 0%;

}

main #hub .container .slogan img {
  width: 20%;
}

main #hub .container .slogan >* {
  padding: 1% 0%;
}
/* End of Slogan */

/* Crm */




main #hub .container .crm {
  background-color: #ffffff;
  height: 300px;
  width: 100%;
  text-align: center;
  padding-top: 3%;
  padding-left: 3%;
}
main #hub .container .left-crm {
  width: 30%;
  margin: auto;

}
main #hub .container .left-crm img{
  width: 50%;
}
main #hub .container .left-crm .btn{
  display: inline-block;
  width: 50%;
  text-align: center;
  padding: 5% 0%;
  margin-top: 2%;
}
main #hub .container .right-crm {
  width: 50%;
}

main #hub .container .right-crm >*{
  padding: 2% 2%;
}

main #hub .container .right-crm hr {
  float: left;
  width: 65%;
  margin-top: 2%;
  margin-left: 6%;

}

main #hub .container .right-crm ul >* {
  display: inline-block;
  padding: 0% 1%;
}
/* End of Crm */

/* Hub Description */
main #hub .hub-descript {
  margin: 5% 0%;
}

main #hub .container .hub-descript .col-detail{
  width: 31%;
  text-align: center;
  background-color: #ffffff;
  border-radius: 3px;
  margin: 0% 1%;
}


main #hub .container .hub-descript .col-detail img {
  width: 40%;
  margin: auto;
}
main #hub .container .hub-descript .col-detail:last-child img{
  width: 37%;
}
main #hub .container .hub-descript .col-detail:nth-child(2) img{
  width: 47%;
}

main #hub .container .hub-descript .col-detail >* {
  padding: 5%;
}

main #hub .container .hub-descript .col-detail hr {
  padding: 0%;
  width: 80%;
  margin: auto;
  color: inherit;
}
main #hub .container .hub-descript .col-detail ul li {
  text-align: left;
}

main #hub .container .hub-descript .col-detail ul span {
  display: inline-block;
  padding-left: 10%;


}


}
main #hub .container .hub-descript .col-detail ul i{
  display: inline-block;


}

main #hub .container .hub-descript .col-detail .btn {
  margin: 5% 0%;

}

main #hub .container .hub-descript .col-detail .fa-check-circle{
  width: 2px;
}

/* End of Hub Description */
/* END OF HUB */

/* FEATURES */
/* Introduction */
main #features {
background-color: #00a9b8;
color: #ffffff;
padding: 2% 0%;
padding-bottom: 7%;
text-align: center;

}
main #features .container .intro-features p {
  margin-bottom: 3%;
}

main #features .container .intro-features h2 {
  margin-bottom: 2%;
}

main #features .container .square {
  display: inline-block;
  border-right: 1px solid white;
  width: 270px;
  height: 200px;
}

}
main #features .container .square >* {

}

main #features .container p {
  color: inherit;

}

main #features .container .square p {
  font-size: 12px;
}

main #features .container .square h2 {
  padding-bottom: 30px;
  font-size: 40px;
}

main #features .container .square img {
  padding: 15px 0px;
}
/* End of introduction */

/* Features */



main #features .container .border{
  border-bottom: 1px solid white;
}
main #features .container .last {
  border-right: none;
}
/* End of Features */

/* RECAP */
/* numbers */
main #recap .numbers {
  margin-top: 3%;
  margin-left: 5%;
  width: 15%;
}

main #recap .numbers >* {
  padding: 10px 0px;
}

main #recap .numbers h2 {
  font-size: 40px;

}
main #recap .numbers p {
  font-size: 15px;
}

/* end of numbers */

/* sponsor */
main #recap .sponsor {
  margin: 5% 0%;
  margin-left: 10%;
  width: 70%

}
main #recap .sponsor img {
  width: 20%;
  padding: 1% 3%;
  vertical-align: middle;
}
/* end of sponsor */

/* Invitation */
main #recap .invitation{
  width: 35%;
}

main #recap .invitation >* {
  margin-bottom: 40px;
}

main #recap .woman img{
  width: 50%;
  margin-left: 80%;
}

main #recap .woman {

}
/* End of Invitation */
/* END OF RECAP*/
/***************************END OF MAIN SECTION ******************************/


/******************************** FOOTER SECTION ******************************/

footer{
  font-size: 12px;
  color: #dadee0;
  height: 600px;
  background-color: #32495b;
}

/* Vertical Menu */
footer .container{
  padding: 2% 0%;

}


footer .container .vertical-menu {
  width: 25%;

}

footer .container .vertical-menu h5{
  font-size: 14px;
  color: #ffffff;
  padding: 13px 0px;
}

footer .container .vertical-menu ul li {

  line-height: 2.5;
}

/* Support Button and Socials */

footer .container .menu-wrapper .support-social {
  text-align: right;
  margin-right: 150px;
}
footer .container .menu-wrapper .support-social .btn{
  display: inline-block;
  color:#32495b;
  background-color:#cbd6e2;
  text-align: right;
  margin: 15px 0%;
  font-size: 12px;
  padding: 10px 5px;
}

footer .container .menu-wrapper .support-social ul {
  text-align: right;
  margin-left: 950px;
}
footer .container .menu-wrapper .support-social ul i{
  padding-left: 20px;
  color: #cbd6e2;
  font-size: 17px;
}
/* End of Support Button and Socials */
/* End of Vertical Menu */

/* Languages */
footer .container .languages {
  margin: auto;
  text-align: center;
}

footer .container .languages ul li {
  display: inline-block;
  padding: 10px 5px;
  padding-top: 50px;
}
/* End of Languages */

/* Bottom Footer */

footer .container .bottom-footer {
  padding: 40px 0px;
}
footer .container .bottom-footer .logo-copyright {
  width: 40%;
}

footer .container .bottom-footer .logo-copyright p {
  color: #ffffff;
}
footer .container .bottom-footer .legal-privacy-policy {
  width: 60%;
  text-align: right;
}

footer .container .bottom-footer .legal-privacy-policy ul li {
  display: inline-block;
  padding-left: 13px;
}
/* End of Bottom Footer */


/***************************END OF FOOTER SECTION ******************************/
